.container {
  width: min(90vw, 800px);
  margin: auto;
}

.header {
  background: #2d4a22;
  padding: 2rem 0 10rem;
  text-align: center;
}

.logo {
  color: #fff;
  font-weight: 100;
}

.balance {
  margin-top: -8rem;
}

.balanceH2 {
  color: white;
  margin-top: 0;
}

.dataTable {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;
}

.th {
  background: white;
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}
.footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
}