.container {
  width: min(90vw, 800px);
  margin: auto;
}

.header {
  background: linear-gradient(to right, #FFA62E, #EA4D2C);
  padding: 2rem 0 10rem;
  text-align: center;
}

.logo {
  background: linear-gradient(90deg, #5650de, #f869d5);
  background-clip: text;
  letter-spacing: -0.2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.balance {
  margin-top: -8rem;
}

.balanceH2 {
  color: white;
  margin-top: 0;
}

.transiction {
  width: 100%;
  overflow-x: auto;
}

.dataTable {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;
}

.th {
  background: white;
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}
.footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
}