.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
}

.cardH3 {
    font-weight: normal;
    font-size: 1rem;
}

.cardP {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.total {
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    background: #EA4D2C;
    color: white;
}